<h1>Programming Languages</h1>

<%= link_to "Add New Programming Language", new_programming_language_path, class: "button" %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @programming_languages.each do |language| %>
      <tr>
        <td><%= language.title %></td>
        <td>
          <%= link_to "View", programming_language_path(language), class: "button" %>
          <%= link_to "Edit", edit_programming_language_path(language), class: "button" %>
          <%= link_to "Delete", programming_language_path(language), method: :delete, data: { confirm: "Are you sure?" }, class: "button danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
